body {
    background-image: url('images/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.frmdiv {
    margin-top: 25px;
    padding-left: 20px;
}

.frmstyle {
    width: 357px;
    height: 580px;
    background-color: white;
    border-radius: 1.5rem;
    text-align: center;
}

.hstyle {
    padding-top: 57px;
    padding-bottom: 20px;
    color: rgb(49 74 213);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.instyle {
    width: 75%;
    height: 45px;
    border-color: #7bb6fb !important;
    border-radius: 2rem;
    text-align: center;
    color: #7bb6fb;
    
}
.mailstyle{
    background: url('images/email.svg');
    background-repeat: no-repeat;
    padding: 20px;
    background-position: left;
    background-size: 25px;
    background-origin: content-box;
}
.passwordstyle{
    background: url('images/lock.svg');
    background-repeat: no-repeat;
    padding: 20px;
    background-position: left;
    background-size: 25px;
    background-origin: content-box; 
}
::placeholder {
    color: #7bb6fb;
    font-family: serif;
    font-size: 16px;
}
input.largerCheckbox {
    width: 18px;
    height: 27px;
}
.pstyle{
    text-align: left; padding-left: 4px;
}
.constyle{
    font-size: 15px;
    font-family: serif;
    color: #8ea7c5;
    font-weight: 600;
}
.btstyle{
    width: 75%;
    height: 45px;
    background-color: #928bdd;
    border-radius: 2rem;
    color: white;
    font-size: 21px;
    font-weight: 600;
    padding-top: 5px;
}
.lpstyle{
    font-size: 14px;
    font-family: serif;
    font-weight: 600;
    color: #8ea7c5;
}